certifi==2022.12.7
chardet==3.0.4
colored-traceback==0.3.0
cycler==0.10.0
decorator==4.1.2
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
matplotlib==2.1.1
nbformat==4.4.0
numpy==1.14.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
randomcolor==0.4.4.5
scikit-learn==0.19.1
scipy==1.21.1
six==1.11.0
sklearn==0.0
traitlets==4.3.2
pudb==2019.2 
pyquaternion==0.9.5 
urwid==2.1.0
networkx==2.6.2